* {
    background-color: hsl(216, 12%, 8%);
    box-sizing: border-box;
    font-size: 15px;
    font-family: Overpass;
}

#rating {
    margin: 5%;
    justify-content: center;
    align-items: center;
    display: flex;

}

#rate {
    background-color: hsl(213, 19%, 18%);
    width: 30%;
    border-radius: 15%;

}

#oneStar {
    border-radius: 50%;
    background-color: hsl(213, 19%, 22%);
    width: 15%;
    height: 10%;
    padding: 2%;
    margin: 5%;
}

img {
    background-color: hsl(213, 19%, 22%);
    padding: 25%;
}

h2 {
    color: white;
    background-color: hsl(213, 19%, 18%);
    padding-left: 5%;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    padding: 0% 5% 5% 5%;
}

#stars {
    background-color: hsl(213, 19%, 18%);
    display: flex;
    list-style: none;
    padding-left: 0%;
}

#stars li {
    width: 20%;
    height: 25%;
    margin: 0% 3% 5% 3%;
    border-radius: 50%;
    background-color: hsl(213, 19%, 22%);
    text-align: center;
    color: hsl(217, 12%, 63%);
    padding: 4%;
}

#stars li:focus {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

#stars li:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

#rateUs {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: hsl(213, 19%, 18%);
    align-items: center;
}

button {
    color: white;
    background-color: hsl(25, 97%, 53%);
    width: 80%;
    border-radius: 25px;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 3%;
    border-style: none;

}

button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

#thanks {
    display: none;
    background-color: hsl(213, 19%, 18%);
    width: 30%;
    border-radius: 15%;
    align-items: center;

}
#thanks img {
    background-color: hsl(213, 19%, 18%);
    padding: 5%;
    margin-left: 15%;
    margin-top: 20;
   
}

#thanks h2 {
    text-align: center;
}
.appreciate {
    text-align: center;
    border-radius: 15%;
    margin: 0% 5% 5% 5%;
}

#selected {
    width: 70%;
    margin: auto;
    padding-top: 4%;
    border-radius: 25px;
    background-color: hsl(213, 19%, 22%);
    color: hsl(25, 97%, 53%);
    text-align: center;

}