@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
$font-family: 'League Spartan', sans-serif;


    $Verydarkdesaturatedblue: hsl(222, 26%, 31%);
    $Verydarkerdesaturatedblue: hsl(223, 31%, 20%);
    $Verydarkestdesaturatedblue: hsl(224, 36%, 15%);

    $Desaturateddarkblue: hsl(225, 21%, 49%);
    $Desaturateddarkerblue: hsl(224, 28%, 35%);
    $Red: hsl(6, 63%, 50%);
    $Darkred: hsl(6, 70%, 34%);
    $Lightgrayishorange: hsl(30, 25%, 89%);
    $Grayishorange: hsl(28, 16%, 65%);

    $Verydarkgrayishblue: hsl(221, 14%, 31%);
    $White: hsl(0, 0%, 100%);



    $Lightgray : hsl(0, 0%, 90%);
    $Grayishred: hsl(0, 5%, 81%);
    $Verylightgray: hsl(0, 0%, 93%);

    $Darkmoderatecyan: hsl(185, 42%, 37%);
    $Verydarkcyan: hsl(185, 58%, 25%);
    $Orange: hsl(25, 98%, 40%);
    $Darkorange: hsl(25, 99%, 27%);
    $Lightgrayishyellow: hsl(45, 7%, 89%);
    $Darkgrayishorange: hsl(35, 11%, 61%);

    $Verydarkgrayishyellow: hsl(60, 10%, 19%);
    $White: hsl(0, 0%, 100%);




    $Verydarkerviolet: hsl(268, 75%, 9%);
    $Verydarkviolet: hsl(268, 71%, 12%);

    $Darkviolet: hsl(281, 89%, 26%);
    $Vividmagenta: hsl(285, 91%, 52%);
    $Purecyan: hsl(176, 100%, 44%);
    $Softcyan: hsl(177, 92%, 70%);
    $Verylessdarkviolet: hsl(268, 47%, 21%);
    $Darkmagenta: hsl(290, 70%, 36%);

    $Lightyellow: hsl(52, 100%, 62%);
    $Verydarkblue: hsl(198, 20%, 13%);
    $White: hsl(0, 0%, 100%);
